
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Rick y morty</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a routerLink="home" class="nav-link active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="personajes" class="nav-link" >Personajes</a>
          </li>
          <li class="nav-item">
            <a routerLink="about" class="nav-link" >About</a>
          </li>
        </ul>
        <span class="navbar-text">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </span>
      </div>
    </div>
  </nav>
